header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('head.jpg');
    background-attachment:fixed;
    height:100vh;
    width:99vw;
    overflow: hidden;
}
.bg-light{
background-color: transparent!important;
margin-top:20px;
}
 .navbar-brand {
    color: #f8f9fa!important;
    font-size:20px;
    margin-right: 1%;
}

a {
    color: #f8f9fa;
    margin-top:25px;
    background-color: transparent;
    font-size:px;
}
a:hover{
  color:#f8f9fa;

}

.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 15px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #f8f9fa, transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid#f8f9fa;
	border-right: 1px solid#f8f9fa;
}

.div-tab-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(50% - 10px);
	width: 20px;
	height: 14px;
	background-color: white;
	border-bottom: 1px solid#f8f9fa;
	border-left: 1px solid#f8f9fa;
	border-right: 1px solid#f8f9fa;
	border-radius: 0 0 8px 8px;
}

.div-stopper:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 12px;
	background-color: white;
	border-left: 1px solid#f8f9fa;
	border-right: 1px solid #f8f9fa;
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

.quote{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('section.jpg');
    background-attachment:fixed;
    height:100vh;
    width:99vw; 
}
/*head text*/

.samp{
  grid-column: 2/3;
  margin-top: 100px;
  margin-right: 15%;
}
.hdt{
  text-align: center;
}
.jumbotron {
 
  background-color: transparent;}
/*head button*/
.btn-outline-primary {
  color:#f8f9fa;
  border-color: #f8f9fa;
}
.pin{
  display: flex;
  flex-direction:row;
 margin:0 40%;
  justify-content: space-between;
  margin-top: 5%;
}
.alt{
  margin-right:10%;
}
/*about*/
.wraptwo{
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}
.ran{
  grid-column: 2/3; 
}
.about{
  margin:5%;
  background-image: url('abt.jpg');
  background-repeat: no-repeat;
}
#abtext{
  color:#393E41;
  text-align: center;
  font-size:80px;
}
#line{
  color:#393E41;
  text-align: center;
  font-size:40px;
}
/*quote*/

.quo{
  text-align: center;
}
.social{
  width: 400px;
  height: 100px;
  display: flex;
  margin: 100px;
  background-color: var(--black);
  padding: 100px 50px;
  text-align: center;
}
#icon{
  width: 100px;
  height: 60px;
}

.fab:hover{
  transition: 0.8s;
  
  text-shadow: 0 0 10px#f8f9fa,
  0 0 20px #f8f9fa,
  0 0 30px #f8f9fa,
  0 0 40px #f8f9fa;
}
#quote{
  font-size:500%;
}
#quote:hover{
  transition: 0.8s;
  
  text-shadow: 0 0 10px#f8f9fa,
  0 0 20px #f8f9fa,
  0 0 30px #f8f9fa,
  0 0 40px #f8f9fa;
}
.samp button{
  text-align: center;
}
/*packages*/
.packages{
  margin-top:10%;
  margin-left: 5%;
  margin-right: 5%;
}
.rant{
  margin-bottom: 2%;
}
.bg-primary {
  background-color: #293e55!important;
}

/*contact*/
.wrapform{
  display:grid;
  grid-template-columns: 150px 1fr 150px;
  grid-auto-rows:minmax(100px,auto);
}
.formin{
  grid-column: 2/3;
}
.contact{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('sea.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  width:99vw; 
}
.gridtwo{
  display:grid;
  grid-template-columns:repeat(1,1fr 1fr);
  grid-gap:5em;
}
p{
  color:rgb(172, 161, 161);
}

.third{
 
  margin-top:8%;
 margin-bottom:8%;
 padding:10%;
  background:  linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.1));
  color:#fff;
  text-align:center;
}
.detail{
  grid-column:1/2;
  justify-items:start;
}
.form{
  grid-column:2/3;
}

/*=========footer==============*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#3b5998
}
.social-icons a.linkedin:hover
{
  background-color:#3b5998
}
.social-icons a.dribbble:hover
{
  background-color:#3b5998
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/*=============Footer ends===========*/

@media only screen and (max-width:990px){
  .alt{
    margin-right:15%;
  }
  
  #quote{
    font-size:200%;
  }  
  .hdt{
    color: #f8f9fa;
  }
 #line{
   font-size:20px;
 }
 .wraptwo{
  display: grid;
  grid-template-columns: 10px 1fr 25px;
}
.ran{
  grid-column: 2/3; 
}
#abtext{
  color:#393E41;
  text-align: center;
  font-size:40px;
}
.wrapform{
  display:grid;
  grid-template-columns: 10px 1fr 10px;
  grid-auto-rows:minmax(50px,auto);
}
.formin{
  grid-column: 2/3;
}
.gridtwo{
  display:grid;
  grid-template-columns:10px 1fr 10px;
  grid-template-rows: 2;
  grid-gap:1em;
}
.detail{
grid-column:2/3;
}
.form{
  grid-column:2/3;
  }
  .contact{
    height:180vh;
  width:99vw; 
  }
  .social{
    display: none;
  }
 .quote{
 padding-top: 55%;
 }
}